<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}"/>
    <property name="PATTERN" value="%d %5p [%20.20t] %32.32c{16}: %m | %X%n"/>
    <property name="MS_NAME" value="utility-batch"/>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${MS_NAME}_${HOSTNAME}.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${PATTERN}</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOG_PATH}/${MS_NAME}_${HOSTNAME}-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <Pattern>${PATTERN}</Pattern>
        </layout>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- LOG "com.cirfood*" at TRACE level -->
    <logger name="com.cirfood" level="trace" additivity="false">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- LOG hibernate queries -->
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- LOG native queries -->
    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG" additivity="false">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.springframework.security.oauth2" level="DEBUG" additivity="false">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>